btl
result.fit
result.png
pkg/result.png
go.work
pkg/gpx_amap/index.html
py/garmin_export_out
**/__pycache__
garmin_export_out
marker_point*
index.html
pkg/*kml
pkg/script/result.json
**/*result.gpx
**/*result.fit